<header>
    <div class="container">
        <h1>{{ site.title }}</h1>
        <h2></h2>

        <section id="downloads">
            <a href="https://github.com/developr-at/floob/zipball/master" class="btn">Download as .zip</a>
            <a href="https://github.com/developr-at/floob/tarball/master" class="btn">Download as .tar.gz</a>
            <a href="https://github.com/developr-at/floob" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
        </section>
        <nav>
            <ul>
                <li><a href="{{ site.baseurl }}/test-pages">Test Pages</a></li>
            </ul>
        </nav>
    </div>
</header>